In [ ]:
Q1. List any five functions of the pandas library with execution.

In [1]:
import pandas as pd

df=pd.read_csv('data.csv')
print(df.head())

In [ ]:
2.head()

In [3]:
import pandas as pd

In [4]:
data = {'Name':['Alice','Bob','Charlie','David','Eva'],
        'Age':[24,27,22,32,29]}
df = pd.DataFrame(data)
print(df.head(3))

      Name  Age
0    Alice   24
1      Bob   27
2  Charlie   22

In [ ]:
3.describe()

In [5]:
import pandas as pd

In [6]:
data = {'Name':['Alice','Bob','Charlie','David','Eva'],
        'Age':[24,27,22,32,29],
        'Salary':[50000,60000,55000,65000,62000]}
df = pd.DataFrame(data)
print(df.describe())

             Age        Salary
count   5.000000      5.000000
mean   26.800000  58400.000000
std     3.962323   5941.380311
min    22.000000  50000.000000
25%    24.000000  55000.000000
50%    27.000000  60000.000000
75%    29.000000  62000.000000
max    32.000000  65000.000000

In [7]:
import pandas as pd

In [8]:
data = {'Department':['HR','Finance','IT','Finance','HR'],
        'Employee':['Alice','Bob','Charlie','David','Eva'],
        'Salary':[50000,60000,55000,65000,62000]}
df = pd.DataFrame(data)
grouped_df = df.groupby('Department')['Salary'].mean()
print(df.describe())

             Salary
count      5.000000
mean   58400.000000
std     5941.380311
min    50000.000000
25%    55000.000000
50%    60000.000000
75%    62000.000000
max    65000.000000

In [ ]:
5.Merge()

In [9]:
import pandas as pd

In [10]:
df1 = pd.DataFrame({'Employee':['Alice','Bob','Charlie'],
                    'Department':['HR','Finance','IT']})

df2 = pd.DataFrame({'Employee':['Alice','Bob','Charlie'],
                    'Salary':[50000,60000,55000]})

merged_df = pd.merge(df1,df2, on = 'Employee')
print(merged_df)

  Employee Department  Salary
0    Alice         HR   50000
1      Bob    Finance   60000
2  Charlie         IT   55000

In [ ]:
Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [11]:
import pandas as pd

In [ ]:
def reindex_dataframe(df):
    new_index = range(1,2 * len(df)+1,2)
    df.index = new_index
    
    return df
data = {'A':[10,20,30],'B':[40,50,60] 'c':[70,80,90]}
df=pd.DataFrame(data)
df_reindexed = reindex_dataframe(df)
print(df_reindex

In [ ]:
Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.

In [12]:
import pandas as pd

In [14]:
def sum_first_three_values(df):
    if len(df) < 3:
        print("The DataFrame does not contain at least three value in the 'Value'column.")
        return
    sum_values = df['Value'].iloc[0]+df['Value'].iloc[1]+df['Value'].iloc[2]
    print(sum_values)
    
    
    
    


df = pd.DataFrame({'Value':[10,20,30,40,50]})
sum_first_three_values(df)

60

In [ ]:
Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [15]:
import pandas as pd

In [16]:
def add_word_count_column(df):
    def word_count(text):
        return len(text.split())
    df['Word_Count'] = df['Text'].apply(word_count)
    
    return df
df= pd.DataFrame({'Text':['Hello world','This is a test','Pandas is great']})
df =add_word_count_column(df)
print(df)

              Text  Word_Count
0      Hello world           2
1   This is a test           4
2  Pandas is great           3

In [ ]:
Q5. How are DataFrame.size() and DataFrame.shape() different?

In [1]:
import pandas as pd

In [2]:
df=pd.DataFrame({'A':[1,2,3],
                 'B':[4,5,6],
                 'C':[7,8,9]})
print("Size of DataFrame:",df.size)

Size of DataFrame: 9

In [4]:
print("Shape of DataFrame:",df.shape)

Shape of DataFrame: (3, 3)

In [ ]:
Q6. Which function of pandas do we use to read an excel file?

In [5]:
import pandas as pd

df = pd.read_excle('file_name.xlsx')
print(df)

In [ ]:
Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.

In [7]:
import pandas as pd

In [8]:
def add_username_column(df):
    df['Username']=df['Email'].str.split('@').str[0]
    return df
data = {'Email':['user1@example.com','user2@test.com','user3@domain.com']}
df= pd.DataFrame(data)
df=add_username_column(df)
print(df)

               Email Username
0  user1@example.com    user1
1     user2@test.com    user2
2   user3@domain.com    user3

In [ ]:
Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.

In [9]:
import pandas as pd

In [10]:
def filter_dataframe(df):
    filtered_df =df[(df['A']>5) & (df['B']<10)]
    return filtered_df
data = {
    'A':[3,18,26,32,49],
    'B':[5,2,9,3,1],
    'C':[1,7,4,5,2]}
df=pd.DataFrame(data)
result_df=filter_dataframe(df)
print(result_df)

    A  B  C
1  18  2  7
2  26  9  4
3  32  3  5
4  49  1  2

In [ ]:
Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [11]:
import pandas as pd

In [12]:
def calculate_statistics(df):
    if 'Value' not in df.columns:
        raise ValueError("DataFrame must contain a 'Value' column")
        mean_value = df['value'].mean()
        median_value = df['Value'].median()
        std_dev_value = df['value'].std()
        
        return mean_value,median_value,std_dev_value

In [ ]:
Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.

In [13]:
import pandas as pd

In [15]:
def add_weekday_column(df):
    df['Date']=pd.to_datetime(df['Date'])
    df['Weekday']= df['Date'].dt.day_name()
    return df
data = {
    'Date':['2023-01-01','2023-01-02','2023-01-03','2023-01-04','2023-01-05']}
df= pd.DataFrame(data)
df= add_weekday_column(df)
print(df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

In [ ]:
Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [17]:
import pandas as pd

In [18]:
def filter_dates(df):
    df['Date'] = pd.to_datetime(df['Date'])
    start_date ='2023-01-01'
    end_date = '2023-01-31'
    mask =(df['Date']>=start_date) & (df['Date']<=end_date)
    filtered_df = df.loc[mask]
    return filtered_df
data = {
    'Date':['2023-01-01','2023-01-15','2023-02-01','2023-01-25','2022-12-31']}
df= pd.DataFrame(data)
filtered_df = filter_dates(df)
print(filtered_df)

        Date
0 2023-01-01
1 2023-01-15
3 2023-01-25

In [ ]:
Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?